@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #dafc00;
  --bg-main: #8442b9;
  --bg-secondary: #a556e6;
  --bg-third: #caa4ea;
  --toast: rgba(218, 252, 0, 0.5);
  --stroke: black;
}

#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);

  background-image: linear-gradient(0deg, transparent 50px, #595959 52px),
    linear-gradient(90deg, transparent 50px, #595959 52px);
  background-color: var(--bg-main);
  background-size: 52px 52px;
}

.introText {
  font-weight: 700;
  text-shadow:
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-title > img {
  height: 1rem;
}

.pagination__box ul li:last-child button:disabled {
  opacity: 0.5;
}

.title:hover {
  text-shadow:
    0 0 2px var(--stroke),
    0 0 2px var(--stroke),
    0 0 2px var(--stroke),
    0 0 2px var(--stroke);
}

.icon > svg {
  fill: var(--text);
  transition: all 150ms ease-in;
}
.icon:hover > svg {
  stroke-width: 1;
  stroke: var(--stroke);

  transition: all 150ms ease-in;
}

.pagination__box div {
  text-align: center;
  color: var(--text);

  text-shadow:
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke);
}

.pagination__box div span {
  color: var(--text);
}

.pagination__box ul li button {
  justify-content: center;
  align-items: center;
  width: 150px;

  background-color: transparent;
  border: solid 4px var(--text);
  color: var(--text);

  text-shadow:
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke);

  transition: all 150ms ease-in;
}

.pagination__box ul li button:enabled:hover {
  background-color: var(--text);
  color: var(--bg-main);
  text-shadow:
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke),
    0 0 1px var(--stroke);

  transition: all 150ms ease-in;
}

.pagination__box ul li:last-child button {
  border-left-width: 3px;
}

.pagination__box ul li:first-child button {
  border-right-width: 3px;
}

/*----------------animations----------------*/

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
