@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #dafc00;

  background-image: linear-gradient(0deg, transparent 50px, #595959 52px),
    linear-gradient(90deg, transparent 50px, #595959 52px);
  background-color: #8442b9;
  background-size: 52px 52px;
}

.introText {
  text-shadow:
    0 0 1px black,
    0 0 1px black,
    0 0 1px black,
    0 0 1px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-title > img {
  height: 1rem;
}
